# Backend Configuration
PORT=4000
DB_CONNECT=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
JWT_SECRET=your_jwt_secret_key
MAPBOX_API=your_mapbox_token
FRONTEND_URL=your_vercel_frontend_url

# Frontend Configuration
VITE_BASE_URL=your_vercel_backend_url
VITE_MAPBOX_TOKEN=your_mapbox_token
